@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #1f2937;
  line-height: 1.6;
}

html,
body {
  scroll-behavior: smooth;
}

.image-modal-container {
  padding: calc(var(--spacing) * 4) !important;
  max-height: 90vh !important;
  overflow: auto !important;
}

@media (min-width: 40rem) {
  .image-modal-container {
    padding: calc(var(--spacing) * 6) !important;
    max-width: var(--container-3xl) !important;
  }
}
